

      ____  ____  ____  ____  ____  ____            
     ||F ||||t ||||_ ||||I ||||r ||||c ||           
     ||__||||__||||__||||__||||__||||__||           
     |/__\||/__\||/__\||/__\||/__\||/__\|           
 ____  ____  ____  _________  ____  ____  ____ 
||d ||||e ||||s ||||       ||||3 ||||_ ||||8 ||
||__||||__||||__||||_______||||__||||__||||__||
|/__\||/__\||/__\||/_______\||/__\||/__\||/__\|




                   ~ a 42 school project made with love <3

                                                                 _
_

Server rules : don't forget to have fun :]

                   _
                  _(_)_                          wWWWw   _
      @@@@       (_)@(_)   vVVVv     _     @@@@  (___) _(_)_
     @@()@@ wWWWw  (_)\    (___)   _(_)_  @@()@@   Y  (_)@(_)
      @@@@  (___)     `|/    Y    (_)@(_)  @@@@   \|/   (_)\
       /      Y       \|    \|/    /(_)    \|      |/      |
    \ |     \ |/       | / \ | /  \|/       |/    \|      \|/
jgs \\|//   \\|///  \\\|//\\\|/// \|///  \\\|//  \\|//  \\\|// 
^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^